<!-- <p>forget-password works!</p> -->

<mat-toolbar>
    <div class="toolbar" style="display: flex;">
        <div class="logo">
            <img src="../../assets/education.svg" alt="">
        </div>
        <div class="desc">
            <h1>Bookstore</h1>
        </div>
    </div>
</mat-toolbar>
<div class="container">
    <div class="head">
        <p>Forgot your Password?</p>
    </div>
    <div class="c-box">
        <div class="description">
            <div class="detail">
                <p>Enter your email address and we'll send you<br>a link to reset your password</p>
            </div>     
            <div class="Email-head">Email Id
                <mat-form-field class="p-width" appearance="outline">
                    <mat-label>email-id</mat-label>
                    <input matInput placeholder="">
                </mat-form-field>
            </div>   
            <div class="reset-button">
                <button type="submit" class="login-button-input" mat-flat-button color="warn">Reset Password</button>
            </div>
        </div>    
    </div>
    <div class="create-account">
        <div class="create" >
            <p routerLink="/signup">CREATE ACCOUNT</p>
            <!-- <button  mat-button class="button1" routerLink="/forget-password"><a href="http://localhost:4200/forget-password"></a> -->
        </div>
    </div>
</div>