.toolbar{
    background-color: #A03037;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
h1{
    color:white;
    padding-left: 10px;
    margin-bottom: 6%;
}
.logo{
    margin-left: 10%;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5%;
}
.c-box{
    margin-top: 2%;
    width: 35%;
    height: 30%;
    border: 1px solid black;
}
.description{
    padding: 25px 77px 25px 77px;
}
.detail{
    display: flex;
    justify-content: center;
}
.Email-head{
    display: flex;
    flex-direction: column;
}
.login-button-input{
    width: 100%;
    background-color: #A03037;
}
.head p{
    font-size: x-large;
    font-weight: bold;
}
.create-account{
    width: 35%;
    height: 50px;
    border: 1px solid grey;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.create{
    font-weight: bold;
    cursor: pointer;
}
