<!-- <p>displayadminlogin-signup works!</p> -->
<div class="loginpage">
    <div class="imageBox">
        <img src="../../../assets/loginIcon.png">
        <h2 class="heading" >ONLINE BOOK SHOPPING</h2>
    </div>
    <div class="loginBox">
        <div class="header">
            <h2 routerLink="adminlogin" class = "select" >login</h2>
            <h2 routerLink="adminsignup" class = "select" >signup</h2>
        </div>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>